@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background: "#f1f1f1"
}
.mv-header{
    width: 100%;
}
.mv-content {
    position: absolute;
    padding-top: 260px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.mv-content h1{
    font-family: 'Anton', sans-serif;
    text-align: center;
    line-height: 0.99;
    font-size: 102px;
}
.mv-background{
    width: 100%;
}
.mv-background img{
    width: 100%;
}
/*Information Certified*/
.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
}
.info-card-title-h2{
    font-size: calc(50px + 78 * (100vw - 320px)/1333);
    font-family: 'Anton', sans-serif;
    line-height: 1.0;
    text-align: center;
}
.info-card-certified{
    margin: 90px 0;
    padding: 95px;
    max-width: 958px;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
}
.info-card-content{
    margin: 0 60px;
    font-size: 16px;
    line-height: 1.375;
    max-width: 900px; 
    padding: 0 50px;
}
.info-card-title-h3{
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    line-height: 1.0;
    text-align: center;
    margin: 0 0 30px;
}
.info-card__descr p{
    font-family: 'Average Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
}